.header {
    &__container {
        @include flex-all-between;
    }
}

.nav {
    &__list {
        @include flex-align-center;
        gap: 32px;
    }

    &__link {
        font-weight: 500;
        line-height: 26px;
        color: var(--neutral-color-100);
    }
}
